<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppException</servlet-name>
  	<display-name>AppException</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.AppException</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayException</servlet-name>
  	<display-name>DisplayException</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.util.DisplayException</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminImpl</servlet-name>
  	<display-name>AdminImpl</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.AdminImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEmployee</servlet-name>
  	<display-name>AddEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.AddEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Employee</servlet-name>
  	<display-name>Employee</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.Employee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClaim</servlet-name>
  	<display-name>AddClaim</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.AddClaim</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPendingInvoices</servlet-name>
  	<display-name>ViewPendingInvoices</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.ViewPendingInvoices</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewInvoice</servlet-name>
  	<display-name>ViewInvoice</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.ViewInvoice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPage</servlet-name>
  	<display-name>Manage</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.ManagerPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagementImpl</servlet-name>
  	<display-name>ManageImpl</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.ManagementImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApproveInvoices</servlet-name>
  	<display-name>Approve</display-name>
  	<description></description>
  	<servlet-class>com.revature.rkiesling.project1.ApproveInvoices</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayException</servlet-name>
  	<url-pattern>/DisplayException</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminImpl</servlet-name>
  	<url-pattern>/ExpenseAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployee</servlet-name>
  	<url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Employee</servlet-name>
  	<url-pattern>/Expenses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClaim</servlet-name>
  	<url-pattern>/AddClaim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPendingInvoices</servlet-name>
  	<url-pattern>/ViewPendingInvoices</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewInvoice</servlet-name>
  	<url-pattern>/ViewInvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPage</servlet-name>
  	<url-pattern>/Manage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagementImpl</servlet-name>
  	<url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApproveInvoices</servlet-name>
  	<url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/DisplayException</location>
  </error-page>
  <error-page>
  	<exception-type>com.revature.rkiesling.project1.UserNotFoundException</exception-type>
  	<location>/DisplayException</location>
  </error-page>
</web-app>
